.input {
    display: flex;
    max-width: 800px;
    width: 75%;
    justify-content: center;
    align-items: center;
  }

  input {
      width: 100%;
      padding: 12px 16px; 
      margin-top: -32px;
      font-size: 24px;
      margin-bottom: 50px;
      color:  #3F444A;
  
    }

    .text {
      padding: 12px;
      text-align: center;
     } 
    .text > p {
      color: #3F444A;
    } 